In [1]:
from scito import preprocess
import seaborn as sns
import scanpy as sc
import pandas as pd
import numpy as np

/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/anndata/_core/anndata.py:21: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import RangeIndex

# Multiplet Rate for 100k

In [2]:
path = '/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/100k_pbmc_filtered_feature_bc_matrix.h5'
verbose = True

In [3]:
adata = sc.read_10x_h5(path, gex_only=False)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [4]:
adata

AnnData object with n_obs × n_vars = 35371 × 33818
    var: 'gene_ids', 'feature_types', 'genome'

In [5]:
corr_var = pd.read_csv("/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/var.csv", index_col=0)

In [6]:
adata.var = corr_var

In [7]:
scito_in = preprocess.ScitoFrame(from_scanpy=True, adata=adata)
demuxed = scito_in.resolveMux(batchid_string="barcode",
                        positiveQuantile=0.99,
                        n_clust=None,
                        n_init=100,
                        kfunc="kmeans",
                        maxneighbor=100,
                        seed=42,
                        keep_input=True,
                        verbose=True)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
Transforming to str index.

Keeping linear scale data for computing average
Performing k-means clustering

Transforming to str index.
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/scipy/sparse/_index.py:126: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

Cutoff for barcode1: 2657 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode2: 828 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode3: 759 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode4: 1069 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode5: 973 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode6: 1451 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode7: 1223 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode8: 757 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode9: 1355 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode10: 259 reads
Keeping sparse matrix with antibody expression only. Target = self.input
Assigning best guesses

In [9]:
demuxed.obs.batch_name.unique()

array(['barcode1', 'barcode2', 'barcode3', 'barcode4', 'barcode5',
       'barcode6', 'barcode7', 'barcode8', 'barcode9', 'barcode10'],
      dtype=object)

In [11]:
doublet_rate = scito_in.meta.N_drops

In [12]:
# droplet rate
np.sum(scito_in.meta.N_drops[2:])/np.sum(scito_in.meta.N_drops)

0.4719120183200927

# Multiplet Rate for 200k

In [2]:
path = '/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/filtered_feature_bc_matrix.h5'
verbose = True

In [3]:
adata = sc.read_10x_h5(path, gex_only=False)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [4]:
adata

AnnData object with n_obs × n_vars = 49511 × 33818
    var: 'gene_ids', 'feature_types', 'genome'

In [5]:
corr_var = pd.read_csv("/Users/antonogorodnikov/Documents/Work/DataSci/SCITO-seq/tests/var.csv", index_col=0)

In [6]:
adata.var = corr_var

In [8]:
lol = preprocess.ScitoFrame(from_scanpy=True, adata=adata)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [9]:
lol_2 = lol.resolveMux(batchid_string="barcode",
                        positiveQuantile=0.99,
                        n_clust=None,
                        n_init=100,
                        kfunc="kmeans",
                        maxneighbor=100,
                        seed=42,
                        keep_input=False,
                        verbose=True)

/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
Transforming to str index.

Keeping linear scale data for computing average
Performing k-means clustering

Transforming to str index.
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
/Users/antonogorodnikov/anaconda3/envs/scito/lib/python3.7/site-packages/scipy/sparse/_index.py:126: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

Cutoff for barcode1: 2634 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode2: 3043 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode3: 848 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode4: 1613 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode5: 1556 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode6: 2637 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode7: 2276 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode8: 1175 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode9: 1521 reads

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
Or pass `index_unique!=None` to `.concatenate`.

Cutoff for barcode10: 320 reads
Assigning best guesses

In [10]:
lol.meta

     cells_per_drop  N_drops
0  0 cells per drop       11
1  1 cells per drop    17534
2  2 cells per drop    25402
3  3 cells per drop     6256
4  4 cells per drop      305
5  5 cells per drop        3
6  6 cells per drop        0

In [11]:
doublet_rate = lol.meta.N_drops

In [12]:
# droplet rate
np.sum(lol.meta.N_drops[2:])/np.sum(lol.meta.N_drops)

0.6456343034881138

In [15]:
lol.drop_assign.obs.assingment

,n_counts,batch_cluster,assignment,best_guess,expression
AAACCCAAGAGGTATT-1,2456.0,1,MTP,"(barcode2, barcode4)","(8.28, 7.8)"
AAACCCAAGAGTGGCT-1,2004.0,6,SNG,"(barcode2,)","(8.72,)"
AAACCCAAGCGCACAA-1,4173.0,9,MTP,"(barcode3, barcode8)","(8.26, 7.79)"
AAACCCAAGCGTCTCG-1,2133.0,8,MTP,"(barcode2, barcode8)","(8.35, 8.02)"
AAACCCAAGGAGCAAA-1,2147.0,4,MTP,"(barcode5, barcode4)","(8.06, 7.94)"
...,...,...,...,...,...
TTTGTTGTCGACACCG-1,1955.0,7,MTP,"(barcode10, barcode9)","(8.39, 7.56)"
TTTGTTGTCGGTTAGT-1,3297.0,8,MTP,"(barcode6, barcode3, barcode8)","(8.04, 7.97, 7.84)"
TTTGTTGTCGTGCTCT-1,2363.0,5,MTP,"(barcode9, barcode5, barcode10)","(8.11, 8.03, 7.49)"
TTTGTTGTCGTTCAGA-1,1589.0,8,SNG,"(barcode8,)","(8.88,)"
TTTGTTGTCTGCTTTA-1,1146.0,7,MTP,"(barcode1, barcode10)","(8.27, 8.08)"